<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <title>吃啥</title>
  <link rel="stylesheet" href="https://unpkg.com/element-ui@2.15.5/lib/theme-chalk/index.css">
  <link rel="stylesheet" type="text/css" href="./css/eat.css">
  <script src="https://unpkg.com/vue@2.6.14/dist/vue.js"></script>
  <script src="https://unpkg.com/element-ui@2.15.5/lib/index.js"></script>
  <script src="https://unpkg.com/axios@0.21.1/dist/axios.js"></script>
  <script src="https://sdk.jinrishici.com/v2/browser/jinrishici.js" charset="utf-8"></script>
</head>
<body>
  <div id="app" class="mainpage">
    <el-tabs type="border-card" class="eltabs">
      <el-tab-pane v-for="(item, index) in foodInfo" :key="index">
        <span slot="label"><i :class="item.icon"></i>{{item.name}}</span>
        <el-card class="boxcard">
          <div slot="header" class="clearfix">
            <span>{{item.name}}列表</span>
            <el-button-group style="float: right;margin: -5px 0 0 0;">
              <el-button size="medium" style="padding: 5px 10px;" type="primary" @click="searchButton(item.data)" plain>随机</el-button>
              <el-button size="medium" style="padding: 5px 10px;" type="info" @click="clearMsg()" plain>清空随机过程信息</el-button>
              <el-button size="medium" style="padding: 5px 10px;" type="success" @click="shici()" plain>诗词</el-button>
            </el-button-group>
            
          </div>
          
          <el-tag
            :key="i"
            :type="resault==tag ? 'success' : ''"
            v-for="(tag,i) in item.data"
            closable size="small"
            :disable-transitions="false"
            @close="handleClose(tag, item.data)">
            {{tag}}
          </el-tag>
          <el-input
            class="input-new-tag"
            v-if="inputVisible"
            v-model="inputValue"
            :ref="'saveTagInput'+index"
            size="small"
            @keyup.enter.native="handleInputConfirm(item.data)"
            @blur="handleInputConfirm(item.data)">
          </el-input>
          <el-button v-else class="button-new-tag" size="small" @click="showInput(item,index)">添加新数据</el-button>
        </el-card>
      </el-tab-pane>
    </el-tabs>
    
    <div class="elalert" id="elalert">
      <el-alert v-for="(item, index) in footMsg" :key="index" :title="item.msg" :closable="false" :type="item.type"></el-alert>
    </div>
  </div>
  <script type="module">
    Vue.prototype.$http = axios;
    new Vue({
      el: '#app',
      data: function() {
        return {
          randNum: 2,//随机数 列表大小的倍数
          footMsg:[],//信息
          resault:'',
          inputValue:'',
          inputVisible: false,
          searchloading: false,
          footMsgDom:null,
          foodInfo:[
            {
              name:'早餐',
              icon:'el-icon-sunrise-1',
              data:[
                "菜盒",
                "包子",
                "水煎包",
                "葱花饼",
                "鸡蛋卷饼",
                "煎饼果子",
                "胡辣汤"]
            },{
              name:'午餐',
              icon:'el-icon-sunny',
              data:[
                "南长巷冒菜炒饭",
                "南长巷面",
                "西一路铁蛋刀削面",
                "西一路重庆小面",
                "西一路炒米饭",
                "南新街快餐",
                "南新街面府",
                "南新街张师傅面馆",
                "南新街酸菜牛肉面",
                "南新街米线",
                "南新街老潼关",
                "菜市场冒菜泡馍炒饭麻食",
                "菜市场饺子"
              ]
            },{
              name:'晚餐',
              icon:'el-icon-moon-night',
              data:[
                "吃什么吃！减肥！！！"
              ]
            }
          ]
        }
      },
      created() {
        
      },
      methods: {
        /** 点击查询按钮 */
        searchButton(list){
          if(list && list.length > 0){
            if (list.length == 1) {
              this.resault = list[0]
              this.addMsg(`想吃${this.resault}就直说，就一个还随机啥...`, 'success')
            }else{
              this.getRandInfo(list)
            }
          }else{
            this.addMsg("啥也木有...", 'info')
          }
        },
        /** 随机获取数据 */
        getRandInfo(list){
          let len = list.length
          let forNum = len * this.randNum;
          let resObj = {};
          for (let i = 0; i < forNum; i++) {
            let rNum = Math.round(Math.random() * (len - 1));
            if (list[rNum] in resObj) {
              resObj[list[rNum]] = resObj[list[rNum]] + 1;
            } else {
              resObj[list[rNum]] = 1;
            }
          }
          let maxNum = 0;
          let listItem = [];
          for (let item in resObj) {
            this.addMsg(`${item}出现的次数为：${resObj[item]}`, 'info')
            if (resObj[item] > maxNum) {
              maxNum = resObj[item]
              listItem = [item]
            } else if (resObj[item] == maxNum) {
              listItem.push(item)
            }
          }
          if (listItem.length > 1) {
            this.addMsg("随机结果中存在相同次数项，继续随机", 'warning')
            this.getRandInfo(listItem)
          } else {
            this.resault = listItem[0];
            this.addMsg(`======最终结果为：${this.resault}`, 'success')
          }
        },
        /** 移除项 */
        handleClose(tag,list) {
          list.splice(list.indexOf(tag), 1);
        },
        /** 显示输入框 */
        showInput(item,index) {
          this.inputVisible = true;
          this.$nextTick(_ => {
            this.$refs['saveTagInput'+index][0].$refs.input.focus();
          });
        },
        /**  */
        handleInputConfirm(list) {
          let inputValue = this.inputValue;
          if (inputValue) {
            list.push(inputValue);
          }
          this.inputVisible = false;
          this.inputValue = '';
        },
        /** 添加信息 */
        addMsg(msg,type){
          this.footMsg.push({
            msg: msg,
            type: type
          })
          this.scrollMsg()
        },
        /** 清空信息 */
        clearMsg(){
          this.resault = ''
          this.footMsg = []
          this.scrollMsg()
        },
        scrollMsg(){
          if(!this.footMsgDom){
            this.footMsgDom = window.document.getElementById("elalert")
          }
          this.$nextTick(_ => {
            this.footMsgDom.scrollTop =  this.footMsgDom.scrollHeight;
          })
        },
        shici(){
          this.searchloading = true
          // let param = new URLSearchParams()
          // param.append('title', 1)
          // param.append('phone', 2)
          // param.append('address', 3)
          // let config = {
          //   headers: {
          //     'X-User-Token': 'wfEwa5omKJGUltsJEHPsfUJe3DAZBd43'
          //   }
          // }
          // this.$http.get('https://v2.jinrishici.com/sentence', param,config).then(function (res) {
          //   if (res.status === 200) {
          //     console.log(res);
          //   } else {
          //     this.addMsg("出现错误","danger")
          //   }
          // }).catch(err => {
          //   this.alertDescription = err
          // }).finally(_=>{
          //   this.searchloading = false
          // })

          this.$http.get("https://v2.jinrishici.com/sentence",{
            params:{},
            headers:{"X-User-Token":"wfEwa5omKJGUltsJEHPsfUJe3DAZBd43"}
          }).then((res)=>{
            if (res.status === 200) {
              console.log(res);
            } else {
              this.addMsg("出现错误","danger")
            }
          }).catch(err => {
            this.addMsg(err.message,"danger")
          }).finally(_=>{
            this.searchloading = false
          })
        }
      }
    })
  </script>
</body>

</html>