body{
  padding: 0;
  margin:0px;
  letter-spacing: 1px;
  background-color: #e7eaec;
}
.jrshici{
  text-align: center;
  margin: 0 0 0.5em 0;
}
.jrshiciother{
  /* margin-left: 200px; */
}
.el-tooltip__popper{
  max-width: 600px;
}
.el-tooltip__popper p{
  text-indent: 2em;
  line-height: 2em;
}
.mainpage{
  width: 90%;
  margin: auto;
}
.boxcard{
  width: 100%;
}
.el-card__header{
  background-color: rgb(239, 242, 245);
}
.el-card__body{
  min-height: 300px;
}
.elalert {
  max-height: 300px;
  overflow-y: auto;
}
.el-tag + .el-tag {
  margin-left: 10px;
}
.button-new-tag {
  margin-left: 10px;
  height: 25px;
  line-height: 25px;
  padding-top: 0;
  padding-bottom: 0;
}
.input-new-tag {
  width: 150px;
  margin-left: 10px;
  vertical-align: bottom;
}
.el-alert{
  padding: 2px 16px;
}


/* @media screen and (max-width: 1080px) {
  .el-tabs__item{
    font-size: 1.5em;
    margin: 0.5em 0;
    height: 2em;
    line-height: 2em;
    margin-top: -1px;
    margin-bottom: -1px;
  }
  .el-button--medium{
    font-size: 1.1em;
  }
  .el-card__header{
    font-size: 1.2em;
  }
  .el-tag--small, .el-tag--medium {
    height: 1em;
    padding: 0 10px;
    line-height: 1em;
    font-size: 0.8em;
  }
  .el-button--mini, .el-button--small{
    font-size: 0.8em;
    height: 1em;
    line-height: 1em;
  }
  .input-new-tag{
    width: 300px;
    font-size: 1em;
    height: 1.5em;
    line-height: 1.5em;
  }
  .el-alert__title{
    font-size: 1em;
    height: 1.2em;
    line-height: 1.2em;
  }
  .jrshici{
    color: darkcyan;
  }
  .jrshiciother{
    margin-left: 0px;
    font-size: 1em;
  }
} */