body{
  margin:0px;
}
.waterfall-container {
  column-count: 2;
  /* background-color: skyblue; */
  font-size: 24px;
}
.container-title{
  line-height: 100px;
  display: inline-flex;
  width: 100%;
  text-align: center;
  font-size: 40px;
  /* background-color: deepskyblue; */
  background: linear-gradient(90deg,#01d9ff 0,#3ea2ff 34%,#2b99ff 66%,#1b63ff 100%);
}
.waterfall-item {
  break-inside: avoid;
  margin-bottom: 10px;
}
.tipsDiv{
  width: 100%;
  font-size: 20px;
  text-indent:2em;
  background-color: rgb(233 233 233);
}
.tipSDivItem{
  color: #666e74;
  line-height: 40px;
}
.img{
  width: 100%;
}
.back{
  text-align: center;
  margin-top: 10px;
}
.back button{
  width: 150px;
  height: 50px;
  background: lightskyblue;
  border-width: 0px;
  font-size: 24px;
  color: white;
}
/** 表单表格样式 */
.detailTable {
  width: 100%;
  border: 1px solid;
  border-collapse: collapse;
  border-color: #ddd;
}
.detailTable tr {
  border-collapse: collapse;
  border-color: #ddd;
  border: 0px;
}
.detailTable tr th {
  border: 1px solid;
  border-color: #ddd;
  height: 27px;
  line-height: 200%;
}
.detailTable tr td {
  border: 1px solid;
  border-color: #ddd;
  height: 27px;
}
.detailTable tr td .el-form-item {
  margin-bottom: 1px;
}
.detailTable .titleTr {
  text-align: center;
  background-color: rgb(251, 253, 254);
}
.detailTable .titleTd {
  text-align: center;
  font-weight: bold;
  background-color: #E9F4FD;
}
.detailTable .valueTd {
  padding: 0 2px;
}
.detailTable td a {
  line-height: 21px;
  color: blue;
}
.detailTable .star::after {
  content: "*";
  color: #f56c6c;
  margin-right: 4px;
  vertical-align: middle
}
/** 表单表格样式 */